*{
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
  width: 100%;
  border: 1px solid #fff;
  margin-bottom: 20px;
}

body{
  background-color: #131c38;
}

.header-content{
  display: flex;
  max-width: 1200px;
  padding: 12px 40px;
  margin: 0 auto;

  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 120px;
  height: auto;
  cursor: pointer;
  margin-bottom: -5px;
}
.logo-box{
  color: #fff;
  font-size: 14px;
}

.header-links{
  display: flex;
  gap: 20px;
  font-size: 14px;
  align-items: center;
  
}

.header-links a{
  text-decoration: none;
  color: #b9b8b8;
  transition: translate 0.10s ease;
}

.login-btn{
  display: flex;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  color: #131c38;
}

.header-links a:hover{
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(226, 218, 218, 0.15);
}

.login-btn:hover{
  background-color: #475786;
  color: #fff;
  box-shadow: 0 5px 10px rgba(226, 218, 218, 0.15);
}

.table{
  color: white;
  box-shadow: 5px 5px 10px rgba(247, 243, 243, 0.2);
}

table, th, td{
  border: 1px solid #fff;
  border-collapse: collapse;
}

th, td{
  background-color: #1b3c46;
}